@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: black;
}

/* HEADER */

.header-container {
  height: 100vh;
  width: 100vw;
  background-color: #7fffd4;
  /* background-image: url(./imagens/Marrom\ e\ Branco\ Retrô\ Mapa\ Pirata\ Convite.gif); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 112px;
}

img {
  position: absolute;
  width: 500px;
  height: 597px;
  left: 472pax;
  top: 30px;
}



h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    top: 140px;
    font-family: Poppins;
    left: 500px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    position: absolute;
    bottom: 230px;
    font-size: 18px;
    top: 110px;
    left: 500px;
}

p {
  text-align: start;
  position: absolute;
  left: 500px;
  top: 220px;
}
/* .social-media {
    padding: 19.4px 4rem; 
    border: 1px solid;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    position: absolute;
    bottom: 150px;
    text-decoration: none;
} */

#linkedin-link {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 500px;
  padding: 19.4px 69.8px;
  transition: .5s ease-in-out;
  box-sizing: border-box;
  border: 1px solid;
  min-width: 4rem;
  text-decoration: none;
  top: 460px;

}

#linkedin-link:hover {background-color: white;}

/* .social-media2 {
    text-decoration: none;
    border: 1px solid;
    min-width: 4rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    left: 305px;
    bottom: 150px;
    padding: 2rem 4rem;
} */

.instagram-link {
    color: black;
    position: absolute;
    left: 703px;
    padding: 19.4px 60px;
    transition: .5s ease-in-out;
    box-sizing: border-box;
    border: 1px solid;
    min-width: 4rem;
    text-decoration: none;
    top: 460px;

}

.instagram-link:hover {
  cursor: pointer;
  background-color: white;
}

/* MENU HAMBURGUER */

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
  width: 50px;
  height: 2px;
  background-color: black;
  position: absolute;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
  top: 26px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
  top: 46px;
  transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
  top: 66px;
  transform: rotate(0);
}

#toggle {
  display: none;
}

/* MENU */

.menu {
  position: absolute;
  top: 28px;
  right: 30px;
  background-color: transparent;
  height: 4px;
  width: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 0px black;
  z-index: -1;
  transition: 400ms ease-in-out 0s;
}

.menu-itens {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
  list-style-type: none;
}

.menu-itens ul li a {
  margin: 10px 0;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 40px;
}

/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
  transform: rotate(45s);
  top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
  transform: translate(-100px);
  width: 30px;
  visibility: hidden;
  opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
  transform: rotate(-90deg);
  top: 48px;
}

#toggle:checked + .checkbox {
  background-color: white;
}

#toggle:checked ~ .menu {
  box-shadow: 0px 0px 0px 100vmax white;
  z-index: 1;

}

#toggle:checked ~ .menu-itens {
  visibility: visible;
  opacity: 1;
}

li:hover {background-color: aquamarine;}

/* h6 {
  background-color: white;
  position: absolute;
  padding-left: 100vw;
  padding-bottom: 30px;
  bottom: 0;
} */

/* FOOTER */

.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}

.card {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin: 3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  background-image: url("imagens/Marrom\ e\ Branco\ Retrô\ Mapa\ Pirata\ Convite.gif"); 
  background-position: center;
  background-size: cover;
  background-repeat: no repeat;
  filter: grayscale(0.5);
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

.card-text {
  width: 40%;
  letter-spacing: 1px;
  color: rgb(109, 109, 109);
}

.card-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.card-wrapper::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  border: 1px solid #ffffff;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.p1 {
  position: absolute;
  right: 300px;
}