/* cabeçalho */

* {
     padding: 0%;
     box-sizing: border-box;
}

body {margin: 0;
width: 100vw;}

h1 {font-size: 4rem;}

ul {list-style: none;
    display: flex;}

li {margin: 0px 15px;}

nav {display: flex;
     justify-content: space-between;
     background-color: black}

nav p {font-weight: bold;}

header {height: 100vh;
        background: no-repeat center/cover url(./imagens/1009371.jpg); }

h1 {font-size: 30px; margin-left: 30px; color: white;}

p {margin-left: 30px; max-width: 275px; color: white;}

li a {text-decoration: none; color: white;
     background-color: black; padding: 3px;
     border-radius: 5px;}
      
nav p {color: white;}

div img {width: 50px;}

.texto-funcionario {text-align: center;}

#Robin {width: 130px; border-radius: 100px; margin-top: 25px; 
        margin-left: 250px;}

#Robson {position: absolute; margin-left: 285px;}

#cargo1 {position: absolute; margin-left: 245px; margin-top: 40px;}

#interrogarcao {border-radius: 100%; width: 130px; margin-left: 50px;}

#nome-namorada {position: absolute;margin-left: 480px;}

#funcao-namorada {position: absolute; margin-left: 457px; margin-top: 40px;}

#foto-igor {width: 130px; border-radius: 100%; margin-left: 50px;}

#ighor {margin-left: 660px;}

#ighor-funcao {position: absolute; margin-left: 640px; margin-top: -10px;}