* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  /* min-width: 100vw; */
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
}

.lupa {
  width: 20px;
  height: 25px;
  padding-bottom: 4px;
  background-color: gainsboro;
  border-radius: 1px;
}

.lupa:hover {
  cursor: pointer;
}

#labetube-logo {
  width: 35px;
}

#logo-e-nome {
  display: flex;
  padding-left: 80px;
  padding-top: 4px;
  max-width: 30vw;
}

input {
  width: 350px;
  height: 25px;
  border: 1px 1px 1px 1px gainsboro;
}

#pesquisa {
  padding-right: 50vw;
  display: flex;
  padding-top: 10px;
  max-width: 70vw;
}



/* NAV */

nav i {
    width: 30px;
    margin-bottom: 10px;
}

nav {
    background-color: #FF8A1E;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

nav>a:hover {
  color: white;
}


/* MAIN */



video {
    width: 170px;

}

main {
    
    display: flex;
    max-width: 100vw;
}

#videos {
    
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.video-pág {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50.3px;
}

a {
  text-decoration: none;
}

div>a:hover {
  color: #FF8A1E;
}


.video-pág {
    max-width: 100vw;
    min-width: 100vw;
}

.video-pág video{
  width: 100%;
 
  
}

.item-video {
    margin: 10px;
}
/* FOOTER */

footer {
    background-color: #FF8A1E;
    padding: 20px 0px;
    /* margin-top: 130px; */
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

footer>h3 {
  margin: 5px;
  color: black
}

h3>a:hover {
  color: white;
}

a:visited {
  color: black;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #pesquisa {
 display: none;
  }

#logo-e-nome {
  /* justify-content: center; */
  /* align-items: center; */
}
}

@media only screen and (min-width: 375) and (max-width: 667px) {
  #pesquisa {
    display: none;
    }
  
  #logo-e-nome {
    /* justify-content: center; */
    /* align-items: center; */
  }
}