/* Header */

* {
  padding: 0%;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0px 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.buttom-nav:hover {
  background-color: #fc9920;
}

.buttom-nav:active {
  color: black;
}

nav p {
  font-weight: bold;
}

header {
  height: calc(100vh - 150px);
}

li a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 3px;
  border-radius: 5px;
}

nav p {
  color: white;
}

/* footer */

.footer {
  background-color: #fc9920;
  padding-bottom: 6px;
}

/* .logo2:hover {background-image: url(./imagens/gifendeavor.gif);} */

/* Body */

body {
  margin: 0;
  width: 100vw;
  background-color: #fc9920;
}

p {
  margin-left: 30px;
  max-width: 275px;
}

#barra {
  background-color: black;
  width: 1px;
  position: absolute;
  left: 180px;
  padding-bottom: 500px;
}

h2 {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 20px; 
  width: 200px;
}



.tamanho-logo {
  width: 80px;
  border-radius: 100%;
  position: absolute;
  top: 80px;
  left: 15px;
}

#kuroko-id {left: 120px;}